/* Recipe-CSS */
body {
    background-color: darkkhaki;
}
h1 {
    background-color: bisque;
    font-family: Helvetica;
    color:darkblue;
    width: 400px;
    border: solid 2px black;
}
img {
    width: 400px;
    border: 2px black solid;
    padding: 5px;
    background-color: bisque;
    
}
nav {
    font-size: 20px;
}
table {
    font-family: helvetica;
    font-size: 16px;
    margin-left: 2em;
    border: 2px solid black;
    border-collapse: collapse;  
}
td.ingredient{
    text-align: left;
}
td.amount{
    text-align: right;
}
tr{
    border-bottom: 1px solid black;
}
ul {
    list-style-type: circle;
    font-family: helvetica;
}
p {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
a.back{
    color: beige;
    font-size: 14px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    background-color: black;
    width: 1em;
    padding: 3px;
}